$font-color: #FFFFFF;
$theme-color: #000000;
$button-background-color: #e76f51;
$card-background-color: #FFFFFF;
$card-font-color: #292D33;
$button-font-color: #FFFFFF;
$input-border-color: #292D33;
$additional-color: #15553E;
$third-color: #e9c46a;