$font-color: #FFFFFF;
$background-color: #292D33;
$button-background-color: #F60C02;
$card-background-color: #FFFFFF;
$card-font-color: #292D33;
$button-font-color: #FFFFFF;
$input-border-color: #292D33;