/* fonts */
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'PermanentMarker';
  src: local('PermanentMarker'), url(./fonts/PermanentMarker-Regular.ttf) format('truetype');
}
h1, h2, h3, h4 {
  font-weight: normal;
}
h1 {
  font-size: 1.2em;
  text-align: center;
}

body {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background-color;
    color: $font-color;
    font-size: 12px;
}
.logo-div {
  display: flex;
  align-items: center;
}
.logo-paragraph {
  font-family: 'PermanentMarker';
  font-size: xx-large;
  color: $additional-color;
  position: relative;
  transform: translateX(-20px);
  -webkit-text-stroke: 2px black;
}
.btn {
  padding: 0;
    border: none;
    color: $button-font-color;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 20px 10px;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    width: 40%;
}
.btn:hover {
  background-color: darken($button-background-color, 20%)
}

.btn-delete {
  background-color: $button-background-color;
}

.btn-add {
  background-color: $additional-color;
}

.btn-inline {
  display: inline-block;
}

.a-no-underline {
  text-decoration: none !important;
}

input[type="text"], select {
    padding: 10px;
    outline: none;
    // border-color: $input-border-color;
}

a {
  color: $font-color;
  &:hover {
    text-decoration: underline;
  }
}
