.film-details{
    background-color: $card-background-color;
    color: $card-font-color;
}
/* mobile styles */
.container {
    padding: 10px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.films-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.thumbnail {
    text-align: center;
    // background-color: gray;
}
.thumbnail-cover {
    width: 100%;
    object-fit: cover;
}

/* small tablets styles */
@media screen and (min-width: 620px){
    .films-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* large tablets and laptops styles */
@media screen and (min-width: 960px){
    body {
        font-size: 18px;
    }
    .films-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* desktop styles */
@media screen and (min-width: 1200px){
    body {
        font-size: 20px;
    }
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }
    .films-list {
        grid-template-columns: repeat(6, 1fr);
    }
}