.year-picker-container {
    display: flex;
    position: absolute;
    background-color: white;
    color: black;
}
.year-picker {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    span {
        padding: 10px;
        border: 1px solid grey;
    }
}